## Final Project-3 Submission

Please fill out:
* Student name: Hawkins Murithi Kobia 
* Student pace: full time
* Scheduled project review date/time: June 7th
* Instructor name: Maryann Mwikali

## DATA UNDERSTANDING

**Import the necessary libraries**

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

#Import Numpy and the Pandas Package
import numpy as np
import pandas as pd
#Supress Warnings
import warnings
warnings.filterwarnings('ignore')
#Import Train/Test libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, roc_curve, auc, confusion_matrix, roc_auc_score

**Reading the dataset**

In [3]:
df = pd.read_csv("vehicle_maintenance_data.csv")
df.head()

,Vehicle_Model,Mileage,Maintenance_History,Reported_Issues,Vehicle_Age,Fuel_Type,Transmission_Type,Engine_Size,Odometer_Reading,Last_Service_Date,Warranty_Expiry_Date,Owner_Type,Insurance_Premium,Service_History,Accident_History,Fuel_Efficiency,Tire_Condition,Brake_Condition,Battery_Status,Need_Maintenance
0,Truck,58765,Good,0,4,Electric,Automatic,2000,28524,2023-11-23,2025-06-24,Second,20782,6,3,13.622204,New,New,Weak,1
1,Van,60353,Average,1,7,Electric,Automatic,2500,133630,2023-09-21,2025-06-04,Second,23489,7,0,13.625307,New,New,Weak,1
2,Bus,68072,Poor,0,2,Electric,Automatic,1500,34022,2023-06-27,2025-04-27,First,17979,7,0,14.306302,New,Good,Weak,1
3,Bus,60849,Average,4,5,Petrol,Automatic,2500,81636,2023-08-24,2025-11-05,Second,6220,7,3,18.709467,New,Worn Out,New,1
4,Bus,45742,Poor,5,1,Petrol,Manual,2000,97162,2023-05-25,2025-09-14,Third,16446,6,2,16.977482,Good,Good,Weak,1

In [4]:
df.columns

Index(['Vehicle_Model', 'Mileage', 'Maintenance_History', 'Reported_Issues',
       'Vehicle_Age', 'Fuel_Type', 'Transmission_Type', 'Engine_Size',
       'Odometer_Reading', 'Last_Service_Date', 'Warranty_Expiry_Date',
       'Owner_Type', 'Insurance_Premium', 'Service_History',
       'Accident_History', 'Fuel_Efficiency', 'Tire_Condition',
       'Brake_Condition', 'Battery_Status', 'Need_Maintenance'],
      dtype='object')

**Columns Overview**


**- Vehicle_Model:** Type of vehicle (e.g., Truck, Van, Bus).

**- Mileage:** Distance the vehicle has traveled.


**- Maintenance_History:** Maintenance status (e.g., Good, Average, Poor).


**- Reported_Issues:** Number of issues reported.


**- Vehicle_Age:** Age of the vehicle in years.


**- Fuel_Type:** Type of fuel used (e.g., Electric, Petrol, Diesel).

**- Transmission_Type:** Type of transmission (e.g., Automatic, Manual).


**- Engine_Size:** Engine size in cc.


**- Odometer_Reading:** Total distance recorded by the vehicle's odometer.


**- Last_Service_Date:** Date of the last service.


**- Warranty_Expiry_Date:** Date when the warranty expires.


**- Owner_Type:** Ownership status (e.g., First, Second, Third).


**- Insurance_Premium:** Cost of the insurance premium.


**- Service_History:** Number of services conducted. 


**- Accident_History:** Number of accidents reported. 


**- Fuel_Efficiency:** Fuel efficiency in km per liter.


**- Tire_Condition:** Condition of the tires (e.g., New, Worn Out).


**- Brake_Condition:** Condition of the brakes (e.g., New, Good, Worn Out).


**- Battery_Status:** Condition of the battery (e.g., New, Weak).


**- Need_Maintenance:** Indicator of whether the vehicle needs maintenance (1: Yes, 0: No).

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Vehicle_Model         50000 non-null  object
 1   Mileage               50000 non-null  int64
 2   Maintenance_History   50000 non-null  object
 3   Reported_Issues       50000 non-null  int64
 4   Vehicle_Age           50000 non-null  int64
 5   Fuel_Type             50000 non-null  object
 6   Transmission_Type     50000 non-null  object
 7   Engine_Size           50000 non-null  int64
 8   Odometer_Reading      50000 non-null  int64
 9   Last_Service_Date     50000 non-null  object
 10  Warranty_Expiry_Date  50000 non-null  object
 11  Owner_Type            50000 non-null  object
 12  Insurance_Premium     50000 non-null  int64
 13  Service_History       50000 non-null  int64
 14  Accident_History      50000 non-null  int64
 15  Fuel_Efficiency       50000 non-null  float64
 16  Tire_Condition        50000 non-null  object
 17  Brake_Condition       50000 non-null  object
 18  Battery_Status        50000 non-null  object
 19  Need_Maintenance      50000 non-null  int64
dtypes: float64(1), int64(9), object(10)
memory usage: 7.6+ MB

- The DataFrame contains 50,000 rows and 20 columns.


- All columns have 50,000 non-null entries, indicating no missing values.


- **Column Data Types**:

  - **object (10 columns)**: Text data (e.g., `Vehicle_Model`, `Maintenance_History`).
  - **int64 (9 columns)**: Integer data (e.g., `Mileage`, `Vehicle_Age`).
  - **float64 (1 column)**: Floating-point data (`Fuel_Efficiency`).
  
- **Memory Usage**: The DataFrame uses approximately 7.6 megabytes of memory.

In [6]:
df.shape

(50000, 20)